<div class="row">

  <div class="col-sm-6">
    <form [formGroup]="questionForm">

      <div class="form-group" style="width: 100%;">
        <label for="exampleInputEmail1">Titulo</label>
        <input formControlName="title" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="form-group" style="width: 100%">
        <label for="exampleInputPassword1">Statement</label>
        <textarea formControlName="statement" rows="8" class="form-control">With textarea</textarea>
      </div>

    </form>
  </div>

  <div class="col-sm-6">
    <div class="form-group" style="width: 100%">

      <form [formGroup]="optionsForm">

        <div class="form-group" style="width: 100%;">
          <label for="exampleInputEmail1">Options</label>
          <div class="input-group mb-3" *ngFor="let option of options;let i = index">
              <input type="text" class="form-control" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span class="fa fa-star-o"></span></button>
              </div>
          </div>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button (click)="addOption()" type="button" class="btn btn-success btn-xs">Add</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button (click)="removeOption()" type="button" class="btn btn-danger btn-xs">Remove</button>
            </div>
          </div>
        </div>

        <div class="form-group" style="width: 100%;">
          <label for="exampleInputEmail1">Correct Options</label>
          <div class="input-group mb-3" >
              <input type="text" class="form-control" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span class="fa fa-close"></span></button>
              </div>
          </div>
        </div>
        
      </form>

    </div>
  </div>

</div>

<hr>
<button (click)="save()" type="submit" class="btn btn-primary">Submit</button>