<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{data.title}}</h5>
        <p class="card-text">{{data.statement}}
          <br>
          <code>&lt;h1 class=".title"&gt; &lt;h1&gt;</code> </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <ul class="list-group">
      <li [class]="options[i].classOption" (click)="response(i)"  *ngFor="let option of options; let i = index;">{{getOption(i)}}</li>
    </ul>
  </div>
</div>

<button type="button" class="btn btn-success btn-lg btn-block" (click)="qualify()">{{nameButton}}</button>